Repository AndreSkin/progetto_TwittEarth: changes, and which Jenkins stages are due for each by the changed paths.
All: build, Deploy

Jenkinsfile:

def remote = [:]
remote.name = "giuseppe.carrino2@annina.cs.unibo.it"
remote.host = "annina.cs.unibo.it"
remote.user = "giuseppe.carrino2"
remote.identityFile = "/var/lib/jenkins/.ssh/lab_ssh"
remote.allowAnyHosts = true

pipeline {
    agent any
    stages {
       stage('build') {
         when { changeset "*/**" }
          steps {
             echo 'Notify GitLab'
             updateGitlabCommitStatus name: 'build', state: 'pending'
             echo 'build step goes here'
             updateGitlabCommitStatus name: 'build', state: 'success'
          }
       }
       stage(test) {
         when { changeset "*/**" }
            def scannerHome = tool 'SonarQubeScanner';
            withSonarQubeEnv('sonarqube'){
            sh "${scannerHome}/bin/sonar-scanner"
            }
           steps {
               echo 'Notify GitLab'
               updateGitlabCommitStatus name: 'test', state: 'pending'
               updateGitlabCommitStatus name: 'test', state: 'success'

           }
       }
       stage ('Deploy') {
         when { changeset "*/**" }
         steps {
               sshCommand remote: remote, command: "cd ../../web/site202136/html && git pull origin master"
            }
         }
      }
 }

Refactor: Aggiustate home.js, map.js e server.js
  Map.js
  home.js
  server.js
  stream.js
Due: none

minor fixes
  home.js
  server.js
Due: none

ultimo code smell
  home.js
Due: none

bug fixati
  home.js
Due: none

Refactor: Ultima Pipeline
  Map.js
  home.js
Due: none

Fix test
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/base.css
  coverage/lcov-report/block-navigation.js
  coverage/lcov-report/favicon.png
  coverage/lcov-report/index.html
  coverage/lcov-report/prettify.css
  coverage/lcov-report/prettify.js
  coverage/lcov-report/server.js.html
  coverage/lcov-report/sort-arrow-sprite.png
  coverage/lcov-report/sorter.js
  coverage/lcov.info
Due: Deploy

Fixing: fixati tweet non mostrati su mappa
  Map.js
  home.js
Due: none

Last jenkins2
  home.js
Due: none

fix poll
  home.js
  stream.js
Due: none

last poll fix
  home.js
Due: none

Rimossa cartella coverage
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/base.css
  coverage/lcov-report/block-navigation.js
  coverage/lcov-report/favicon.png
  coverage/lcov-report/index.html
  coverage/lcov-report/prettify.css
  coverage/lcov-report/prettify.js
  coverage/lcov-report/server.js.html
  coverage/lcov-report/sort-arrow-sprite.png
  coverage/lcov-report/sorter.js
  coverage/lcov.info
Due: Deploy

Aggiunto file delle specifiche di progetto
  Specifiche di progetto.pdf
Due: build
